.container-fluid {
  size: inherit;
  background-color: black;
}
.base {
  /*   box-shadow: 0px 5px 50px gray, 0px 5px 50px white;
 */
  border: linear-gradient(
    animation=animate 5s linear infinite #008aff,
    #00ffe7
  );
  border-radius: 40px;
  position: relative;
  z-index: 4;

  /*   background: linear-gradient(to top, rgb(0, 138, 255), #00ffe7);
  animation: animate 50s linear infinite;*/
}
.base::before {
  padding-top: 28px;
  padding-bottom: 1px;
  content: "";
  position: absolute;
  border-radius: 40px;
  border: 1px solid white;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: rgb(248, 245, 245);
  z-index: -1;
}
.base::after {
  content: "";
  position: absolute;
  border-radius: 40px;
  padding-top: 28px;
  border: 1px solid rgb(252, 69, 69);
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: rgb(248, 245, 245);
  z-index: -2;
  filter: blur(40px)  brightness(100%) contrast(200%);
}
.base::before,
.base::after {
  background: linear-gradient(45deg, rgb(255, 0, 13),rgb(44, 58, 255), rgb(49, 226, 43), #dc05f8)
   ;
}

form {
  z-index: 0;
}

.hdr {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;

  font-size: 30px;
}

.Form-body {
  position: relative;
  background: #020202;
  font-family: "Times New Roman", Times, serif;
  border-radius: 40px;
  width: 600px;
}
.Form-body .col {
  margin: 10px 5px;
}

.Form-body .col #lbl {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: whitesmoke;
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
.Form-body .col .dis input::placeholder {
  color: white;
  font-size: 15px;
}
.Form-body .col input {
  border-radius: 5px;
  border-color: gray;
  box-shadow: 2px grey;
  margin-left: 5px;
  height: 20px;
}
.Form-body .col input::placeholder {
  font-style: italic;
  font-size: 10px;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.Form-body .col textarea {
  border-radius: 15px;
  left: 40px;
  top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 5px 10px;
}
.Form-body .col textarea::placeholder {
  padding-left: 30px;
  font-style: italic;
  font-size: 14px;
  width: 250px;
}

.Form-body .file-field {
  float: right;
  width: 220px;
  margin-top: 30px;
}

.Form-body .file-field .imag .imag-1 {
  margin-left: 40px;
  border: 2px solid gray;
  border-radius: 6px;
}
.Form-body .file-field .butn .imgSelectBtn::before {
  position: absolute;
  content: "Select Image";
  display: inline-block;
  background: whitesmoke;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.pic-btn {
  position: relative;
  left: 60px;
}

.Form-body .file-field .butn .imgSelectBtn:hover::before {
  border-color: black;
}
.Form-body .file-field .butn .imgSelectBtn:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.upbg {
  background-color: black;
  margin: 4px 30%;
}
